.marketplace-blog {
    background-color: 
    #3B3B3B;
    .carts-link{
        border-top: 2px solid #3B3B3B;
        background-color: 
        #2B2B2B;
     .carts-link-title{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 50px;
     }
     .carts-page{
        p{
            font-size: 22px;
            color: #858584;
        }
     }
    }
}